# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*pid
*.seed

# Node and Npm files
node_modules
.npm
build
assets.json
public/assets
.nyc_output
coverage

# Compiled
build/Release

# Others
lib-cov
coverage
.grunt
.lock-wscript
